<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Welcome To The Game</h3>
      
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <app-game (increamentOnEachInterval)= "OnincreamentOnEachInterval($event)"></app-game>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-odd-number *ngFor= "let oddNumber of oddNums" [oddNum]="oddNumber">

    </app-odd-number>
    <app-even-number *ngFor= "let evenNumber of evenNums" [evenNum]="evenNumber">

    </app-even-number>
  </div>
</div>

</div>
