<!-- <div class="container">
Employee name : {{ employee.name }} <br>
Employee Age : {{ employee.age }} <br>
Employee Address : {{ employee.address }}
</div>
<div>
    <button class="btn btn-success">Success</button>
</div> -->

<div class="container pt-2">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>age</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.company }}</td>
                <td>
                    <button class="btn btn-primary" (click)="updateEmployees(employee)">Update</button> |
                    <button class="btn btn-danger" (click)="deleteEmployees(employee)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
